* {
    padding: 0px;
    margin: 0px;
}
table {
    border-collapse: separate;
    text-align: center;
    border-spacing: 20px;
}
.celda1 {
    border-style: dotted;
    border-color: blue;
    border-width: 2px;
}
.celda2, .celda3, .celda4, .celda5 {
    border-style: dashed;
    border-color: red;
    border-width: 2px;
    
}
.celda6 {
    border-style: dotted;
    border-color: red;
    border-width: 2px;
}
.celda7, .celda8 {
    border-style: dotted;
    border-color: blue;
    border-width: 2px;
    gap: 20px;
}
td {
    padding: 50px
}