* {
    margin: 0px;
    padding: 0px;
    }
header {
    text-align: left;
    color: beige;
    background-color: rgb(90, 43, 43);
}
nav ul.navegador {
    list-style-type: none;
    text-align: right;
    padding-bottom: 10px;
    font-size: large;
}
nav ul.navegador li {
    margin-right: 35px;
    color: whitesmoke;
    display: inline;
    padding: 15px;
}
#principal {
    font-family: 'Roboto', sans-serif;
    background-color:rgb(194, 184, 184);
}
#buscar {
    float: right;
    margin: 5px;
}
.titulo {
    font-size:75px; 
    text-transform:uppercase; 
    font-family: 'Aclonica', sans-serif;
    padding: 25px;
    background-image: linear-gradient(to bottom, #ff5613, #f0b24f, #eed592);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    stroke: black;
    stroke-width: 5px;
}
.contenedor {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.tituloEvento {
    text-align: center;
    padding: 50px;
    text-shadow: 2px 2px grey;
}
h3 {
    text-align: right;
}
#fotoEvento1, #fotoEvento2 {
    order: 1;
    flex: 1;
    margin: 20px;
}
#evento1, #evento2 {
    text-align: center;
    order: 2;
    flex: 1;
}
[href]{
    text-decoration: none;
    color: yellow;
}
footer {
    padding: 15px;
    text-align: center;
    color: beige;
    background-color: rgb(90, 43, 43);
}